<footer class="bg-dark">
  <div class="p-4 d-inline-block">
    <h5>POPULAR SEARCHES</h5>
    <p routerLink="/categories">Cameras</p>
    <p routerLink="/categories">Computer</p>
    <p routerLink="/categories">Handfree</p>
    <p routerLink="/categories">Chargers</p>
  </div>
  <div class="p-4 d-inline-block buyLicense">
    <h5>BUYING ON SOUQ.COM</h5>
    <p>How to Buy</p>
    <p>Return Policy</p>
    <p>Advertise with us</p>
    <p>Help!</p>
  </div>

  <div class="p-4 d-inline-block buyLicense">
    <h5>MY ACCOUNT</h5>
    <p routerLink="/login">Log In / Register</p>
    <p routerLink="/cart">My Shopping Cart</p>
    <p>My Orders</p>
    <p>Account Settings</p>
  </div>

  <div class="p-4 d-inline-block buyLicense">
    <h5>FOLLOW US</h5>
    <a href="www.facebook.com" target="_blank"><i class="text-light fa fa-facebook fa-lg"></i></a>
    <a href="www.twitter.com" target="_blank"><i class="text-light fa fa-twitter fa-lg"></i></a>
    <a href="www.twitch.com" target="_blank"><i class="text-light fa fa-twitch fa-lg"></i></a>
    <a href="www.instagram.com" target="_blank"><i class="text-light fa fa-instagram fa-lg"></i></a>
    <h5 class="mt-5">DOWNLOAD OUR  APPS</h5>
    <i class="text-light fa fa-apple fa-lg"></i>
    <i class="text-light fa fa-android fa-lg"></i>

  </div>

</footer>
