*
{
    outline: none !important;
}

.parent
{
    width: 100%;
    height: 600px;
    background-image: url(../../assets/images/sale_21811_primary_image.jpg);
    position: relative;
}



// !!!!!!!! remeber to reduce height after create footer
.box
{
    position: absolute;
    width: 50%;
    height: 70% !important;
    top: 20%;
    left: 25%;
    border-radius: 15px;
    font-family: sans-serif;
}

input::placeholder
{
    text-align: left !important;
}

.text-cursor
{
    cursor: text;
}

label[class="mt-4 ml-2"]
{
    font-size: 12px;
}
