<section class="parent">

    <form class="bg-white pt-4 box">

        <div class="text-center">
        <h3 class="mb-4">Login</h3>

            <label>Username</label>
            <br/>
            <input type="text" class="btn border-primary my-1 w-50 text-left text-cursor" name="email" placeholder="Email"/>
            <br/>
            <label class="mt-2">Password</label>
            <br/>
            <input type="password" class="btn border-primary my-1 w-50 text-left text-cursor" name="password" placeholder="Password"/>
            <br/>
            <!-- <input type="checkbox"/> -->
            <!-- <label class="mt-4 ml-2">I Agree To Conditions Of Use And Privacy Policy.</label> -->

            <input type="submit" class="btn btn-success w-50 d-block mx-auto my-4" value="Log in"/>

            <div class="mb-2">Don't Have Account?<button routerLink="/signup" class="d-inline text-primary bg-transparent border-0">Sign Up</button></div>
            <div>forgot Password?<button routerLink="/forgot-password" class="d-inline text-primary bg-transparent border-0">Click Here</button></div>

            </div>
    </form>

</section>
