.notfound
{
    color: rgb(132, 0, 255);
    text-align: center;
    margin-top: 150px;
    animation: notfound 1.3s infinite;
}

@keyframes notfound {
    0%{
        margin-top: 150px;
    }

    50%
    {
        margin-top: 100px;
    }

    100%
    {
        margin-top: 150px;
    }
}