<section class="parent">

    <form class="bg-white p-5 box">

            <h3 class="mb-5 text-center">Sign Up</h3>

            <div class="row">

<div class="col-md-6">

            <label>Username</label>
            <input type="text" class="btn border-primary my-1 w-100 text-left text-cursor ml-3 d-block" name="username" placeholder="Username"/>

            <label class="mt-4">Password</label>
            <input type="password" class="btn border-primary my-1 w-100 text-left text-cursor ml-3 d-block" name="password" placeholder="Password"/>

            <label class="mt-4">phone</label>
            <input type="text" class="btn border-primary my-1 w-100 text-left text-cursor ml-3 d-block" name="number" placeholder="number"/>
</div>

<div class="col-md-6">

            <label>Email</label>
            <input type="text" class="btn border-primary my-1 w-100 text-left text-cursor ml-3 d-block" name="Email" placeholder="Email"/>


            <label class="mt-4">re:Password</label>
            <input type="password" class="btn border-primary my-1 w-100 text-left text-cursor ml-3 d-block" name="re-password" placeholder="re:Password"/>


            <label class="mt-4">Address</label>
            <input type="text" class="btn border-primary my-1 w-100 text-left text-cursor ml-3 d-block" name="address" placeholder="Address"/>

</div>
</div>


             <input type="checkbox"/>
            <label class="mt-3 ml-2">I Agree To Conditions Of Use And Privacy Policy.</label>

            <input type="submit" class="btn btn-success w-50 d-block mx-auto my-3" value="Sign Up"/>

            <div class="mb-2 text-center">Already Have Account?<button routerLink="/login" class="d-inline text-primary bg-transparent border-0">Log In</button></div>



    </form>

</section>
