<div class="container">
    <div class="row mt-5">
        <div class="col-md-1">
            <img src="../../assets/images/item-02.jpg" alt="" class="mr-3 brdr">
            <img src="../../assets/images/item-14.jpg" alt="" class="mr-3">
            <img src="../../assets/images/item-08.jpg" alt="" class="mr-3">
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/item-02.jpg" alt="product" class="img-fluid" id="productImg">
        </div>

        <div class="col-md-6">
            <h6 class="my-2">Infinix Note 7 Lite - 6.6-inch 128GB/4GB Dual SIM Mobile phone - Forest Green</h6>
            <h5 class="my-4">EGP 435</h5>

            <h6 class="my-3">Color:</h6>
            <button class="btn btn-danger">Red</button>
            <button class="btn btn-primary mx-3">Blue</button>

            <h6 class="my-5 text-danger">Two Pieces Remaining</h6>

            <h6 class="mt-5">Description</h6>
            <ul>
                <li>Neque porro quisquam est qui dolorem ipsum</li>
                <li>Neque porro quisquam est qui dolorem ipsum</li>
                <li>Neque porro quisquam est qui dolorem ipsum</li>
                <li>Neque porro quisquam est qui dolorem ipsum</li>
            </ul>
        </div>

    </div>
</div>
<div class="hide">
    <div class="layer d-flex justify-content-center align-items-center" id="asd">
        <div class="parent">
            <h3 class="m-3 w-50 d-inline-block">Product Images</h3>
            <h3 class="m-3 d-inline-block float-right" id="exit">x</h3>
            <div class="d-flex align-items-center justify-content-center h-75">
                <img class="img-fluid h-75 mt-2" id="zoomedProductImg" alt="">
            </div>
                <div class="centering row">
                    <div class="col-md-4">
                        <img src="../../assets/images/item-07.jpg" class="img-fluid">
                    </div>

                    <div class="col-md-4">
                        <img src="../../assets/images/item-14.jpg" class="img-fluid">
                    </div>

                    <div class="col-md-4">
                        <img src="../../assets/images/item-08.jpg" class="img-fluid">
                    </div>
                </div>
        </div>
    </div>
</div>
