.pl-6,
.pl-5 {
  padding-left: 20px;
}

.pointer {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

li.pointer:hover {
  color: #ff5049 !important;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-logo {
  width: 110px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.insta-img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.insta-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(102, 102, 102, 0.4);
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.insta-img:hover .insta-icon {
  opacity: 1;
}

.insta-icon > svg {
  font-size: 22px;
}

@media screen and (max-width: 990px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .pl-6 {
    padding: 0;
  }
}
