<header class="bg-shop">
    <div class="text-center shop-desc text-white">
        <h1 class="m-3">Accessories</h1>
        <p>New Arrivals Moblie Collection 2020</p>
    </div>
</header>

<section class="center mt-5">
    <div class="row">
        <div class="col-md-3">
            <h4>Categories</h4>
            <ul class="p-0 text-muted">
                <li>All</li>
                <li>Handfree</li>
                <li>Cover</li>
                <li>Handfree</li>
                <li>Cover</li>
            </ul>

            <h4 class="mt-5 mb-4">Filters</h4>
            <hr/>

            <h5 class="text-muted mb-3">Price</h5>
            <input type="text" class="w-50 btn min-price border mb-5" placeholder="min"/>
            <input type="text" class="w-50 btn max-price border mb-5" placeholder="max"/>

            <hr/>

            <h5 class="text-muted mb-3">Color</h5>

            <div class="color-circle bg-primary"></div>
            <div class="color-circle bg-danger"></div>
            <div class="color-circle bg-success"></div>
            <div class="color-circle bg-warning"></div>
            <div class="color-circle bg-light"></div>
            <div class="color-circle bg-dark"></div>

            <div class="row my-5 border">
                <input type="text" class="btn col-md-10 " placeholder="Search Products">
                <button class="col-md-2 border-0 bg-transparent"><i class="fa fa-search mt-2" aria-hidden="true"></i></button>
            </div>

            <button class="btn bg-dark text-white w-50 ">Filter</button>

        </div>

        <div class="col-md-8 ml-3">
            <select name="sorting" id="sortingBox" class="btn border p-3 d-inline-block">
                <option value="defaultSorting">Default Sorting</option>
                <option value="rating">Rating</option>
                <option value="priceLowToHigh">Price: Low To High</option>
                <option value="priceHighToLow">Price: High To Low</option>
            </select>
            <p class="text-muted float-right d-inline-block mt-3">Showing 1–12 of 16 results</p>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-08.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-08.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-08.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-02.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-02.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-02.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-14.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-14.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pr-3 py-2 position-relative">
                        <img src="../../assets/images/item-14.jpg" class="img-fluid hambozo" alt="">
                        <div class="layer">
                                <i class="fa fa-heart text-dark mt-1"></i>
                                <button class="btn btn-dark mb-2">Add To Cart</button>
                        </div>
                    </div>
                    <div class="text-muted">
                        <p class="mb-1">Herschel supply co 25l</p>
                        <p>$75.00</p>
                    </div>
                </div>

            </div>

            <span class="page-num text-white">1</span>
            <span class="page-num ml-2 bg-white border">2</span>


        </div>

    </div>
</section>

<!--
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>desc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{productsContainer[0].id}}</td>
            <td>{{productsContainer[0].name}}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table> -->
