<h3 class="m-4 py-4 border-bottom w-25 text-center">Saved Products <i class="fa fa-heart text-primary"></i></h3>
<div class="container">
    <div class="row">

        <div class="col-md-12 my-4">
            <div class="row">

                <div class="col-md-2"><img src="../../assets/images/banner-03.jpg" class="img-fluid" alt="Item"></div>

                <div class="col-md-8 p-0">
                    <p>Note 7 Lite - 6.6-inch 128GB/4GB Dual SIM Mobile Phone - Forest Green</p>
                    <strong>$99.00</strong>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-warning text-white">Buy Now</button>
                    <button class="btn bg-transparent text-warning my-4">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="row">

                <div class="col-md-2"><img src="../../assets/images/banner-03.jpg" class="img-fluid" alt="Item"></div>

                <div class="col-md-8 p-0">
                    <p>Note 7 Lite - 6.6-inch 128GB/4GB Dual SIM Mobile Phone - Forest Green</p>
                    <strong>$99.00</strong>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-warning text-white">Buy Now</button>
                    <button class="btn bg-transparent text-warning my-4">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>


    </div>
</div>
