<header></header>


<section class="centering">

  <h1 class="mb-4">Categories</h1>


  <div class="parent">
    <div class="bg-two child">
    <button class="category-btn btn btn-white w-50">BAGS</button>
    </div>
  </div>

  <div class="parent">
    <div class="bg-two child">
    <button class="category-btn btn btn-white w-50">SUNGLASSES</button>
    </div>
  </div>

  <div class="parent">
    <div class="bg-two child">
    <button class="category-btn btn btn-white w-50">BAGS</button>
    </div>
  </div>

</section>




<section class="centering">
  <h2 class="mb-5">FEATURED PRODUCTS</h2>

  <div class="row">
    <div class="col-md-3" routerLink="/product">
      <div class="p-3">
          <div class="img img3 img-fluid mb-2">
            <div class="layer">
              <i class="fa fa-heart text-dark mt-1"></i>
              <button class="btn btn-dark mb-2">Add To Cart</button>
          </div>

          <p>Herschel supply co 25l</p>
          <p>$75.00</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="p-3">
          <div class="img img4 img-fluid mb-2">
            <div class="layer">
              <i class="fa fa-heart text-dark mt-1"></i>
              <button class="btn btn-dark mb-2">Add To Cart</button>
          </div>

          <p>Herschel supply co 25l</p>
          <p>$75.00</p>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="p-3">
          <div class="img img3 img-fluid mb-2">
            <div class="layer">
              <i class="fa fa-heart text-dark mt-1"></i>
              <button class="btn btn-dark mb-2">Add To Cart</button>
          </div>

          <p>Herschel supply co 25l</p>
          <p>$75.00</p>
        </div>
      </div>
    </div>


    <div class="col-md-3 mb-5">
      <div class="p-3">
          <div class="img img4 img-fluid mb-2">
            <div class="layer">
              <i class="fa fa-heart text-dark mt-1"></i>
              <button class="btn btn-dark mb-2">Add To Cart</button>
          </div>

          <p>Herschel supply co 25l</p>
          <p>$75.00</p>
        </div>
      </div>
    </div>

  </div>

</section>
