.trending-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 60px auto 0 auto;
  width: 90%;
}

.trending-title {
  color: #232f3e;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 1030px) {
  .trending-products {
    grid-template-columns: 1fr 1fr;
  }
}
